# Ignore the .env file (contains sensitive information)
.env

# Ignore virtual environment directories
dscenv/
djvenv/

# Ignore database files
db.sqlite3

# Ignore Redis dump file
dump.rdb

# Ignore Celery beat schedule files
celerybeat-schedule.*

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore uploads directory (if it contains user-uploaded files)
uploads/

# Ignore static files collected during production
staticfiles/

# Ignore media files
media/